<form class="example-form" [formGroup]="form" (ngSubmit)="onCreate()">
  <mat-form-field class="example-full-width">
    <mat-label>Título</mat-label>
    <input matInput placeholder="Título" formControlName="title" />

    @if (form.controls.title.invalid && form.controls.title.touched) {
    <mat-error>El título es obligatorio (mínimo 4 caracteres)</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Comentarios</mat-label>
    <input matInput placeholder="Comentarios" formControlName="coments" />

    @if (form.controls.comments.invalid && form.controls.comments.touched) {
    <mat-error> Ingresar comentario válido (mínimo 4 caracteres) </mat-error>
    }
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">
    Crear Tarea
  </button>
</form>
